.ui.middle.checkbox label:before, .ui.middle.checkbox label:after {
  top: 10px;
}
.customSelectAll {
  font-size: 14px;
  cursor: pointer;
}
#groupList .customSelectAll {
  padding-left: 50px;
}
.ui.title {
  font-size: 16px;
}
.content > div, .content > a {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}